body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #001029;
  color: #ffffff;
}

button {
  padding: 8px 15px;
  background-color: #3AC2FC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2b90bb;
}



input {
  width: 50px;
  height: 50px;
  text-align: right;
}

a {
  text-decoration: none;
  color: #ffffff;
}
/*Principal*/

li {
  list-style-type: none
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5C67FF;
  padding: 10px;
  border: 2px solid white;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #585eb9;
  padding: 10px;
  margin: 0px 0px 5px 0px;
  border: 2px solid white;
}

.contentGlobal{
  display: flex;
  justify-content: space-between;
}

.headerOperacion {
  width: 850px;
  display: flex;
  background-color: #5C67FF;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  box-sizing: border-box;
  justify-content: space-between;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 2px solid white;
}

input {
  width: 30px;
  height: 20px;
}

#metodos {
  display: flex;
  justify-content: space-around;
}

.Solucion {
  font-size: 1.2em;
  padding: 10px;
  background-color: #585eb9;
  border: 2px solid white;
  border-top: 0px;
}

.contentMatriz {
  display: flex;
  background-color: #77B5CD;
  height: 500px;
  border: 2px solid white;
  border-top: 0px;
  flex-direction: column;
  align-items: center;
}

.contentMatriz h2, .pasos h3 {
  margin: 0px;
  padding: 10px;
}

.pasos {
  background-color: #011d4b;
  border: 2px solid white;
  border-top: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.herramientas, .estudios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #585eb9;
  width: 265px;
  box-sizing: border-box;
  margin-top: 68px;

  border: 2px solid white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.herramientas ul, .estudios ul {
  padding: 0px;
}

.herramientas li, .estudios li {
  margin: 65px;
}