body {
  font-family: Arial, sans-serif;
  margin: 10px;
  background: linear-gradient(#e8fffe, rgb(163, 255, 250), #e8fffe);
  color: #ffffff;
}

.logo {
  font-size: 40px;
}

button {
  padding: 8px 15px;
  color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#botonGenerar {
  height: 35px;
}
#GuardarBoton, #GuardarBoton a{
  background-color: #FF2B00;
  color: #ffffff;
}

button:hover {
  background-color: hsl(341, 100%, 94%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
}
/*Principal*/

li {
  list-style-type: none
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF2B00;
  border: 2px solid #FF2B00;
}

.subHeader ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: red;
  margin: 0px 0px 5px 0px;
  border: 2px solid #FF2B00;
  padding: 10px;
  font-size: large;
}

Header {
  padding: 0px 10px 0px;
}

.contentGlobal {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: clamp(12px, 4vw, 100px);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#headerOperacion {
  display: flex;
  background-color: #FF2B00;
  padding: 15px 10px 15px 10px;
  margin-top: 70px;

  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 2px solid #FF2B00;
}

#headerOperacion input, #tablaGMatriz input{
  width: 40px;
  height: 30px;
  border-color: #FF2B00;
  border-radius: 0px;
}

input {
  width: 50px;
  height: 50px;
  border: 2px solid #FF2B00;
  border-radius: 4px;
  box-sizing: border-box;
}

#metodos {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.Solucion {
  font-size: 1.2em;
  padding: 10px;
  background-color: #FF2B00;
  border: 2px solid #FF2B00;
  border-top: 0px;
}

.contentMatriz {
  height: clamp(300px, 70vh, 500px);
  display: flex;
  background-color: #ffffff;
  border: 2px solid #FF2B00;
  color: #FF2B00;
  border-top: 0px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#H2MatrizContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contentMatriz h2, .pasos h3 {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.pasos {
  background-color: #A31B00;
  border: 2px solid #FF2B00;
  border-top: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.herramientas, .estudios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #FF2B00;
  box-sizing: border-box;
  margin-top: 68px;

  border: 2px solid #FF2B00;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.herramientas ul, .estudios ul {
  padding: 0px;
}

.herramientas li, .estudios li {
  margin: 65px;
}

/* Calculadora */
#Calculadora {
  background-color: #FF2B00;
  border: 2px solid #FF2B00;
  border-radius: 4px;
  display: none;
}

.Pantalla {
  background-color: #e8fffe;
  height: 100px;
  border: 2px solid #FF2B00;
}

.tablaBotones tbody {
  display: flex;
  flex-direction: column;
}

.simbolos, .numeros {
  width: clamp(40px, 12vmin, 50px);
  height: clamp(40px, 12vmin, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(16px, 4vmin, 28px);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 4px;
}

@media (max-width:900px){
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 12px;
  }
  h4{
    font-size: 8px;
  }

  .herramientas, .estudios{
    display: none;
  }

  .contentGlobal {
    grid-template-columns: 1fr;
  }
  .contentMatriz {
    height: clamp(300px, 70vh, 700px);
  }

  #headerOperacion{
    padding: 5px;
    margin-top: 0px;
  }  

}

@media (max-height:625PX){

  .simbolos, .numeros {
    width: clamp(45px, 10vmin, 150px);
    height: clamp(10px, 4vmin, 40px);
  }
}