body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #001029;
  color: #ffffff;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.solution {
  margin-top: 20px;
  font-size: 1.2em;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 4px;
}

table td {
  width: 50px;
  height: 50px;
  border: greenyellow;
}

input {
  width: 50px;
  height: 50px;
  text-align: right;
}

/*Principal*/
.ContenedorMetodos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContenedorCartas {
  display: flex;
  align-items: flex-start;
}

.Cartas {
  width: 450px;
  height: 400px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  color: #000000;
}

.Cartas p {
  background-color: #ffffff;
  
}